interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/heitorpolidoro/autocreate-pr
  response:
    body:
      string: '{"id":431237018,"node_id":"R_kgDOGbQnmg","name":"autocreate-pr","full_name":"heitorpolidoro/autocreate-pr","private":false,"owner":{"login":"heitorpolidoro","id":14806300,"node_id":"MDQ6VXNlcjE0ODA2MzAw","avatar_url":"https://avatars.githubusercontent.com/u/14806300?v=4","gravatar_id":"","url":"https://api.github.com/users/heitorpolidoro","html_url":"https://github.com/heitorpolidoro","followers_url":"https://api.github.com/users/heitorpolidoro/followers","following_url":"https://api.github.com/users/heitorpolidoro/following{/other_user}","gists_url":"https://api.github.com/users/heitorpolidoro/gists{/gist_id}","starred_url":"https://api.github.com/users/heitorpolidoro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/heitorpolidoro/subscriptions","organizations_url":"https://api.github.com/users/heitorpolidoro/orgs","repos_url":"https://api.github.com/users/heitorpolidoro/repos","events_url":"https://api.github.com/users/heitorpolidoro/events{/privacy}","received_events_url":"https://api.github.com/users/heitorpolidoro/received_events","type":"User","site_admin":false},"html_url":"https://github.com/heitorpolidoro/autocreate-pr","description":"Automatically
        create a Pull Request and can set to auto-merge","fork":false,"url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr","forks_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/forks","keys_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/keys{/key_id}","collaborators_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/teams","hooks_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/hooks","issue_events_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/issues/events{/number}","events_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/events","assignees_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/assignees{/user}","branches_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/branches{/branch}","tags_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/tags","blobs_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/git/refs{/sha}","trees_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/git/trees{/sha}","statuses_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/statuses/{sha}","languages_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/languages","stargazers_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/stargazers","contributors_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/contributors","subscribers_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/subscribers","subscription_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/subscription","commits_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/commits{/sha}","git_commits_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/git/commits{/sha}","comments_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/comments{/number}","issue_comment_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/issues/comments{/number}","contents_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/contents/{+path}","compare_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/compare/{base}...{head}","merges_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/merges","archive_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/downloads","issues_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/issues{/number}","pulls_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/pulls{/number}","milestones_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/milestones{/number}","notifications_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/labels{/name}","releases_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/releases{/id}","deployments_url":"https://api.github.com/repos/heitorpolidoro/autocreate-pr/deployments","created_at":"2021-11-23T20:02:17Z","updated_at":"2023-09-05T17:08:46Z","pushed_at":"2023-10-27T20:53:29Z","git_url":"git://github.com/heitorpolidoro/autocreate-pr.git","ssh_url":"git@github.com:heitorpolidoro/autocreate-pr.git","clone_url":"https://github.com/heitorpolidoro/autocreate-pr.git","svn_url":"https://github.com/heitorpolidoro/autocreate-pr","homepage":"","size":62,"stargazers_count":5,"watchers_count":5,"language":"Shell","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["auto-merge","bash","github-actions","pull-request"],"visibility":"public","forks":1,"open_issues":3,"watchers":5,"default_branch":"master","temp_clone_token":null,"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8a0f8232db095ee29fd41cf5ad218f3a597e66066da76d1a14615ff64a17689a"
      Last-Modified:
      - Tue, 05 Sep 2023 17:08:46 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '57'
      X-RateLimit-Reset:
      - '1699306672'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
